*
{
    box-sizing: border-box;
}
img {
    width: 80%;
    padding: 60px;
}

.hidden {
    opacity: 0;
    display: none;
}

input:focus {
    border: 1px solid #22CBA8;
    box-shadow: none!important;
}
.btn-search {
    /* border:2px solid red; */
    border: none;
    padding-bottom: 10px 25px;
    border-radius: 0 5px 5px 0;
    background-color: #f1c526;
    color: #fff;
    margin-left: -15px;
    cursor: pointer;
}
/* .no-border {
    border: none !important;
} */
.flex-center {
    /* border:2px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 30px 15px;
    background-color: #efefef;
    color: #406163;
}

.pokemon-card {
    display:flex;
    flex-direction: column;
    align-items: center;
    /* padding: 60px 15px; */
}

.cp-text span {
    font-size: 16px;
}

.img-container {
    position: relative;
    z-index: 2;
    border-radius: 50%;
    text-align: center;
}



.detail-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:100px 30px 60px;
    border-radius: 10px;
    background-color: #fff;
    width: 100%;
    margin-top: -150px;
    box-shadow: 0 0 8px rgba(0,0,0,0.3);
    box-sizing: border-box;

}
.seperator {
    border-color: #eca06e !important;
    border-width: 10px;
    border-radius: 5px;
}

.btn_transfer {
    margin: 45px 0;
    padding: 15px 30px;
    background: linear-gradient(to right, #dabc93, #f1981c);
    border-radius: 25px;
    border: none;
    color: #fff;
    min-width: 60%;
}
/* .btn_transfer a {
    text-decoration: none;
} */
.stats span.first {
    border-right:1px solid #eee
}

.attributes-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    width: 100%;
    text-transform: capitalize;
}
.cp-text {
    padding-right: 10px;
    border-right: 1px solid #eee;
    margin: 0;
}
.cp-text:last-child {
    border: none;
}
.player-data {
    display: flex;
    width: 100%;
    margin-top: 15px;
    box-sizing: border-box;
    border-top: 1px solid #eee;
    padding-top: 15px;

    justify-content: space-between;
    /* 
    text-align: center; */
}
.data-container p {
    margin-bottom: 0;
}
.search_container
{
    display: flex;
    margin: auto;
    justify-content: center;
}
.search_container input
{
    width: 100%;
    /* margin: auto; */
}

#update_name, #update_candy_title{
    text-transform: capitalize;
}
